*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Android Studio / IntelliJ IDEA
.idea/
!.idea/codeStyles/
!.idea/gradle.xml
!.idea/misc.xml
!.idea/vcs.xml

# Artifacts
.artifacts/
